/* ---------------- OVERLAY ---------------- */

#overlay {
    display: block;
    background-color: hsl(0, 79%, 57%);
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#closeMenu {
    background: transparent;
    border: none;
    cursor: pointer;
}

#closeMenu:hover {
    fill: white;
}