/* ---------------- GENERAL ---------------- */

body {
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
}

.flex {
    display: flex;
    gap: 2rem;
}

.container {
    padding: 0rem 7.5rem;
}

@font-face {
    font-family:'Fira Sans';
    src: url('../fonts/Sans Regular.woff2') format('woff2'),
		url('../fonts/Sans Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family:'Fira Sans SemiBold';
    src: url('../fonts/Sans SemiBold.woff2') format('woff2'),
		url('../fonts/Fira Sans SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

@font-face {
    font-family:'Fira Sans';
    src: url('../fonts/Fira Sans Bold.woff2') format('woff2'),
		url('../fonts/Fira Sans Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2212;
}

/* ---------------- SVG ---------------- */

svg {
    width: 1.8rem;
}

.hamburger-svg {
    width: 3rem;
    cursor: pointer;
}

.red:hover {
    color: red;
    fill: red;
}

/* ---------------- NAVIGATION ---------------- */

nav {
    color: white;
    text-transform: uppercase;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 4rem 10rem;
    font-weight: 600;
}

nav ul {
    gap: 2rem;
    align-items: center;
    text-align: center;
}

nav li {
    list-style: none;
}

.flex li {
    gap: 0.5rem;
}

nav a {
    color: white;
    text-decoration: none;
    position: relative;
}

nav a.hover:hover::after {
    content: "";
    width: 1.3rem;
    height: 10%;
    background: white;
    position: absolute;
    bottom: -50%;
    left: 0%;
}